/* VUE JS CLASS CONTROLS */
.hidden {
	display: none;
}
.invis {
	opacity: 0;
}
.visible {
	opacity: 1;
}

/* GENERAL CSS / Overriding Bulma CSS */
img {
  width: 100%;
}
h2 {
  font-size: 1.5em !important;
  font-weight: bold !important;
}
h3 {
  font-size: 1.17em !important;
  font-weight: bold !important;
  color: #4a4a4a;
}

/* NAVBAR */
#nav-toggle-state {
  display: none;
}
#nav-toggle-state:checked ~ .nav-menu {
  display: block;
}

/* ACTOR LIST CARDS */
#actor-list-cards {
  text-align: center;
  margin-left: 10px;
  margin-bottom: 10px;
}
#actor-list-cards .card-content {
  padding: 0;
  margin-top: 5px;
}
#actor-list-cards img {
  cursor: pointer;
}


/* ACTOR INFO */
.info-blocks {
  margin-top: 10px;
  margin-bottom: 10px;
}
#movie-input {
  margin-right: 5px;
  width: 85%;
}
#movie-item {
  margin-bottom: 5px; 
  display: inline-block; 
  padding-right: 5px;
}
#edit-button {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}
#delete-button {
  width: 100%;
}
