/* VUE JS CLASS CONTROLS */
.hidden {
	display: none;
}
.invis {
	opacity: 0;
}
.visible {
	opacity: 1;
}

/*TEMPORARY*/
img {
  width: 100%;
}
h2 {
  font-size: 1.5em !important;
  font-weight: bold !important;
}
h3 {
  font-size: 1.17em !important;
  font-weight: bold !important;
}

/* NAVBAR */
#nav-toggle-state {
  display: none;
}
#nav-toggle-state:checked ~ .nav-menu {
  display: block;
}

/* ACTOR INFO */
.info-blocks {
  margin-top: 10px;
  margin-bottom: 10px;
}
#movie-input {
  margin-bottom: 10px;
}
#movie-item {
  margin-bottom: 5px; 
  display: inline-block; 
  padding-right: 5px;
}
#edit-button {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}
#delete-button {
  width: 100%;
}

/* CSS for Modal */
/*.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 330px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
}

.modal-body {
  margin: 10px 0;
  text-align: center;
}*/

/* Shared Button CSS for Submit, Edit/Delete and Yes/No */
/*.button-general {
  margin: 0 auto;
  padding: 8px 15px 8px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.blue-button {
  background: #4B99AD;
}
.red-button {
  background: #C9302C;
}*/

/* Button CSS for the dialogs */
/*.yes-no {
  display: inline-block;
}
.choice-button {
  color: white;
  font-size: 14px;
}*/