<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ActorDex</title>
    <meta name="author" content="Christy Wong, Arlen Pan, Kelsey Ma">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="text/css" rel="stylesheet" href="css/bulma.css" />
    <link type="text/css" rel="stylesheet" href="css/main.css" />
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.css" />

    <!-- DEV VERSION -->
    <script src="https://unpkg.com/vue"></script>
    <!-- PROD VERSION -->
    <!-- <script src="js/vue.min.js"></script> -->
    <script src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.js"></script>
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
</head>

<body>
  <div id="vm">
    <!-- NAVBAR -->
    <nav class="nav">
      <div class="nav-left">
        <h1 class="nav-item title is-3">AD</h1>
      </div>
      <label class="nav-toggle" for="nav-toggle-state">
        <span></span>
        <span></span>
        <span></span>
      </label>
      <input type="checkbox" id="nav-toggle-state" />
      <div class="nav-right nav-menu">
        <a class="nav-item" v-if="!signedIn" v-on:click="showLogin = true">Login</a>
        <a class="nav-item" v-if="signedIn">        
          <figure class="image is-16x16"  style="margin-right: 8px;" v-if="signedIn">
            <img :src="photoURL">
          </figure>
          {{email}}
        </a>
        <a class="nav-item" v-if="signedIn">Notifications</a>
        <a class="nav-item" v-if="signedIn">Favorites</a>
        <a class="nav-item" v-if="signedIn" v-on:click="signOut">Logout</a>
      </div>
    </nav>

    <!-- HERO/SEARCHBAR -->
    <section class="hero is-primary is-bold" v-bind:class="{'is-medium': !signedIn}">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-1" v-if="!signedIn">Welcome to ActorDex</h1>
          <h1 class="subtitle">Search for an Actor, Actress, or Movie</h1>
          <search-bar></search-bar>
        </div>
      </div>
    </section>

    <!-- LOGIN MODAL -->
    <div class="modal" v-bind:class="{'is-active': showLogin}">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div id="firebaseui-auth-container"></div>
      </div>
      <button class="modal-close" v-on:click="showLogin = false"></button>
    </div>

    <!-- ACTOR INFO/LIST -->
    <section class="section">
      <div class="container">
        <actor-list></actor-list>        
        <actor-info v-bind:class="{hidden: !submitAdd || showDelete || showEdit}" v-bind:name="currActorName" v-bind:age="currActorAge" v-bind:bio="currActorBio" v-bind:image="currActorImage" v-bind:gender="currActorGender" v-bind:country="currActorCountry" v-bind:movies="currActorMovies" v-bind:favorite="currFavorite"></actor-info>
      </div>
    </section>

    <!-- ???? -->
    <section class="section">
      <div class="container invis" v-bind:class="{hidden: !signedIn, visible: displayContent}">
        <favorite-list v-if="signedIn"></favorite-list>
        <hr>
        <add-form v-bind:class="{hidden: submitAdd || showDelete || showEdit}"></add-form>
        <!-- delete-actor v-if="showDelete"></delete-actor> -->
        <edit-form v-if="showEdit"></edit-form>
      </div>
    </section>
  </div>

  <!-- TEMPLATES -->
  <template id="favorite-list-temp">
    <div>
       <h2>Your Favorite Actors</h2>
       <ul>
         <li v-for="favorite in favorites">
            <a href="#" v-on:click="showActorInfo(favorite['.key'])">{{favorite['.key']}}</a>
        </li>
    </ul>
  </div>
  </template>

  <template id="actor-list-temp">
    <div>
       <h2>Actor List *TODO* ACTOR CARDS HERE?</h2>
       <ul>
        <li v-for="actor in actors">
          <a href="#" v-on:click="showActorInfo(actor['.key'])">{{actor.name}}</a>
        </li>
      </ul>
    </div>
  </template>

  <template id="search-bar-temp">
    <div>
      <form class="control has-addons" id="search-form" v-on:submit.prevent="viewActor">  
        <input class="input is-expanded" type="text" list="actor-dropdown" v-model="selection" class="search-input" name="search-actor-movie">
        <datalist id="actor-dropdown">
          <template v-for="actor in actors" v-bind:key="actor.name">
             <option>{{actor.name}}</option>
          </template>
        </datalist>  
        <input class="button" type="submit" value="Submit">
      </form>
    </div>
  </template>

  <template id="add-form-temp">
    <div>
      <h2 id="add-form-title">Add Actor</h2>
      <form id="add-actor-form" v-on:submit.prevent="addActor">
        <label for="af-name"><span>Name</span></label><br><input type="text" v-model="newActorName" name="af-name" id="af-name"><br>
        <label for="af-age"><span>Age</span></label><br><input type="text" v-model="newActorAge" name="af-age" id="af-age"><br>
        <label for="af-bio"><span>Biography</span></label><br><textarea v-model="newActorBio" name="af-bio" id="af-bio"></textarea><br>
        <span>Link to Image of Actor/Actress</span><br><input type="file" name="af-image" id="af-image"><br>
        <span>Gender</span><br>
        <label><input type="radio" v-model="newActorGender" name="af-gender" value="Male">Male</label><br>
        <label><input type="radio" v-model="newActorGender" name="af-gender" value="Female">Female</label><br>
        <span>Country of Origin</span><br>
        <label><input type="radio" v-model="newActorCountry" name="af-country" value="US">United States</label><br>
        <label><input type="radio" v-model="newActorCountry" name="af-country" value="UK">United Kingdom</label><br>
        <input type="submit" value="Submit">
    </form>
  </div>
  </template>

  <template id="actor-info-temp">
    <div>
      <h2 id="actor-name">{{name}}</h2>
      <p>{{gender[0]}} | {{age}} | {{country}}</p>
      <img id="actor-photo" :src="image" alt="Actor Headshot">
      <h3>Biography</h3>
      <p>{{bio}}</p>
      <h3>Filmography</h3>
      <!-- <a href="#">Transformers</a>
      <a href="#">Maleficent</a> -->
      <div id="movies-list">
        <input v-model="newMovieName" v-on:keyup.enter="addNewMovie" placeholder="Add a New Movie"><button v-on:click="addNewMovie">Enter</button>
        <ul style="list-style-type: none">
          <li is="new-movie-item" v-for="(movie, index) in movies" v-bind:key="movie" v-bind:title="movie" v-on:remove="removeMovie(index)"></li>
        </ul>
      </div>
      <form v-on:submit.prevent="addFavorite" v-if="!favorite">
        <button type="submit" id="favorite-button">Favorite</button>
      </form>
      <form v-on:submit.prevent="removeFavorite" v-if="favorite">
          <button type="submit" id="unfavorite-button">Unfavorite</button>
      </form>
      <form v-on:submit.prevent="showEditForm">
          <button type="submit" id="edit-button">Edit</button>
      </form>
      <!-- <form v-on:submit.prevent="showDeleteDialog">
          <button type="submit" id="delete-button">Delete</button>
      </form> -->
      <button id="show-modal" @click="showDelete = true">Delete</button>
      <delete-actor v-if="showDelete" @close="showDelete = false"></delete-actor>
      <form v-on:submit.prevent="back">
          <button type="submit" id="back-button">Back</button>
      </form>
    </div>
  </template>

  <template id="movie-item-temp">
    <li><input type="checkbox"> {{title}} <button v-on:click="$emit('remove')">X</button></li>
  </template>

  <!-- <template id="delete-actor-temp">
    <div>
      <h3>Are you sure you want to delete?</h3>
      <button type="button" v-on:click="deleteActor">Yes</button>
      <button type="button" v-on:click="hideDeleteDialog">No</button>
    </div>
  </template>  -->
  <!-- <template type="text/x-template" id="delete-actor-temp">
    <transition name="modal">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-container">
            <div class="modal-header">
                <h3>Are you sure you want to delete?</h3>
            </div>
            <div class="modal-body">
              <button class="modal-default-button button-general blue-button choice-button" v-on:click="deleteActor">Yes</button>
              <button class="modal-default-button button-general red-button choice-button" @click="$emit('close')">No</button>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </template> -->

  <template type="text/x-template" id="delete-actor-temp">
    <div class="modal is-active">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="box">
          <h3>Are you sure you want to delete?</h3>
          <button class="button is-primary" v-on:click="deleteActor">Yes</button>
          <button class="button is-danger" @click="$emit('close')">No</button>
        </div>
      </div>
      <button class="modal-close" @click="$emit('close')"></button>
    </div>
  </template>

  <template id="edit-form-temp">
    <div>
      <h2 id="edit-form-title">Edit Information</h2>
      <form id="edit-actor-form" v-on:submit.prevent="editActor">
        <label for="ef-name"><span>Name</span></label><br><input type="text" v-model="editName" name="ef-name" id="ef-name"><br>
        <label for="ef-age"><span>Age</span></label><br><input type="text" v-model="editAge" name="ef-age" id="ef-age"><br>
        <label for="ef-bio"><span>Biography</span></label><br><textarea form="edit-actor-form" v-model="editBio" name="ef-bio" id="ef-bio"></textarea><br>
        <span>Link to Image of Actor/Actress</span><br><input type="file" name="ef-image" id="ef-image"><br>
        <span>Gender</span><br>
        <label><input type="checkbox" v-model="editGender" name="ef-gender" value="Male">Male</label><br>
        <label><input type="checkbox" v-model="editGender" name="ef-gender" value="Female">Female</label><br>
        <span>Country of Origin</span><br>
        <label><input type="radio" v-model="editCountry" name="ef-country" value="US">United States</label><br>
        <label><input type="radio" v-model="editCountry" name="ef-country" value="UK">United Kingdom</label><br>
        <input type="submit" value="Submit">
      </form>
    </div>
  </template>

  <script src="js/config.js"></script>
  <script src="js/app.js"></script>
</body>
</html>