<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ActorDex</title>
    <meta name="author" content="Christy Wong, Arlen Pan, Kelsey Ma">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="text/css" rel="stylesheet" href="css/bulma.css" />
    <link type="text/css" rel="stylesheet" href="css/main.css" />
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.css" />

    <!-- DEV VERSION -->
    <script src="https://unpkg.com/vue"></script>
    <!-- PROD VERSION -->
    <!-- <script src="js/vue.min.js"></script> -->
    <script src="https://www.gstatic.com/firebasejs/3.7.0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.js"></script>
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
</head>

<body>
  <div id="vm">
    <!-- NAVBAR -->
    <nav class="nav">
      <div class="nav-left">
        <h1 class="nav-item title is-3">AD</h1>
      </div>
      <label class="nav-toggle" for="nav-toggle-state">
        <span></span>
        <span></span>
        <span></span>
      </label>
      <input type="checkbox" id="nav-toggle-state" />
      <div class="nav-right nav-menu">
        <a class="nav-item" v-if="!signedIn" v-on:click="showLogin = true">Login</a>
        <a class="nav-item" v-if="signedIn">        
          <figure class="image is-16x16"  style="margin-right: 8px;" v-if="signedIn">
            <img :src="photoURL">
          </figure>
          {{email}}
        </a>
        <a class="nav-item" v-if="signedIn" v-on:click="showFavList">Favorites</a>
        <a class="nav-item" v-if="signedIn" v-on:click="signOut">Logout</a>
      </div>
    </nav>

    <!-- HERO/SEARCHBAR -->
    <section class="hero is-primary is-bold" v-bind:class="{'is-medium': !signedIn}">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-1" v-if="!signedIn">Welcome to ActorDex</h1>
          <h1 class="subtitle">Search for an Actor or Actress</h1>
          <search-bar></search-bar>
        </div>
      </div>
    </section>

    <!-- SECONDARY SECTION -->
    <section class="section">
      <div class="container" class="hidden" :class="{visible: displayContent}">
        <search-fail v-bind:class="{hidden: !showFail}" v-if="showFail && !signedIn"></search-fail>
        <search-fail-signin v-if="showFail && signedIn"></search-fail-signin>
        <actor-info v-bind:class="{hidden: !submitAdd || showDelete || showEdit || showFav || showAdd}" v-bind:name="currActorName" v-bind:age="currActorAge" v-bind:bio="currActorBio" v-bind:image="currActorImage" v-bind:gender="currActorGender" v-bind:country="currActorCountry" v-bind:movies="currActorMovies" v-bind:favorite="currFavorite" v-bind:signed-in="signedIn"></actor-info>
        <favorite-list v-bind:class="{hidden: !showFav}" v-if="signedIn"></favorite-list>
        <add-form v-bind:class="{hidden: !showAdd}"></add-form>
        <edit-form v-if="showEdit"></edit-form>
        <actor-list></actor-list>
      </div>
    </section>

    <!-- LOGIN MODAL -->
    <div class="modal" v-bind:class="{'is-active': showLogin}">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div id="firebaseui-auth-container"></div>
      </div>
      <button class="modal-close" v-on:click="showLogin = false"></button>
    </div>

  </div>

  <!-- ======================= TEMPLATES ========================== -->

  <!-- SEARCHBAR -->

  <template id="search-bar-temp">
    <div>
      <form class="control has-addons" id="search-form" v-on:submit.prevent="viewActor">  
        <input class="input is-expanded" type="text" list="actor-dropdown" v-model="selection" class="search-input" name="search-actor-movie">
        <datalist id="actor-dropdown">
          <template v-for="actor in actors">
             <option>{{actor.name}}</option>
          </template>
        </datalist>  
        <input class="button" type="submit" value="Submit">
      </form>
    </div>
  </template>

  <template id="fail-search-temp">
    <div class="modal is-active">
      <div class="modal-background"></div>
      <div class="notification">
        <button class="delete" v-on:click="toggleShowFail"></button>
        <h1 class="title" id="fail-search-title">This actor does not currently exist in the database. Log in to add the actor.</h1>
        <button class="button is-primary" v-on:click="toggleShowLogin">Login</button>
      </div>
    </div>
  </template>

  <template id="fail-search-signin-temp">
    <div class="modal is-active">
      <div class="modal-background"></div>
      <div class="notification">
        <button class="delete" v-on:click="toggleShowFail"></button>
        <h1 class="title" id="fail-search-title-signedin">This actor does not currently exist in the database.</h1>
        <button class="button is-primary" v-on:click="addForm">Click here to add the actor.</button>
      </div>
    </div>
  </template>

  <!-- LISTS -->

  <template id="favorite-list-temp">
    <div class="box">
      <h1 class="title">Your Favorite Actors</h1>
      <ul>
        <li v-for="favorite in favorites">
          <a href="#" v-on:click="showActorInfo(favorite['.key'])">{{favorite['.key']}}</a>
        </li>
      </ul>
    </div>
  </template>

  <template id="actor-list-temp">
      <div id="actor-list" class="container">
        <div v-for="actor in actors" class="card">
          <div class="card-image">
            <figure class="image is-128x128">
              <img v-on:click="showActorInfo(actor['.key'])" :src="actor.image" :alt="actor.name">
            </figure>
          </div>
          <div class="card-content">
            <a v-on:click="showActorInfo(actor['.key'])">{{actor.name}}</a>
          </div>
        </div>
        <div class="card">
          <div class="card-image">
            <figure class="image is-128x128">
              <img v-on:click="addForm" src="assets/profile-placeholder.png" alt="placeholder">
            </figure>
          </div>
          <div class="card-content">
            <a v-on:click="addForm">Add Actor</a>
          </div>
      </div>
  </template>

  <!-- ACTOR INFO -->

  <template id="actor-info-temp">
    <div class="box">
      <div class="columns">
        <div id="main-info" class="column is-two-thirds">
          <h1 class="title is-2" id="actor-name">
            {{name}}
            <a class="delete is-large is-pulled-right" v-on:click="back"></a>
          </h1>
          <p>{{gender[0]}} | {{age}} | {{country}}</p>
          <hr>
          <h3 class="title is-4">Biography</h3>
          <p>{{bio}}</p>
          <hr>
          <h3 class="title is-4">Filmography</h3>
          <div is="new-movie-item" v-for="(movie, index) in movies" v-bind:key="movie" v-bind:title="movie" v-on:remove="removeMovie(index)"></div>
          <p class="control has-addons">
            <input class="input is-expanded" v-model="newMovieName" v-on:keyup.enter="addNewMovie" placeholder="Add a New Movie">
            <button v-on:click="addNewMovie" class="button">Enter</button>
          </p>
          <form v-on:submit.prevent="addFavorite" v-if="!favorite">
          </form>
          <form v-on:submit.prevent="removeFavorite" v-if="favorite">
          </form>
        </div>

        <div id="img-info" class="column is-one-third">
          <img id="actor-photo" :src="image" alt="Actor Headshot">
          <button class="button is-warning" v-on:click="addFavorite" v-if="!favorite && signedIn">Favorite</button>
          <button class="button is-light" v-on:click="removeFavorite" v-if="favorite && signedIn">Unfavorite</button>
          <button class="button is-info" v-on:click="showEditForm">Edit</button>
          <button class="button is-danger" @click="showDelete = true" >Delete</button>
        </div>
      </div>
      <delete-actor v-if="showDelete" @close="showDelete = false"></delete-actor>
    </div>
  </template>

  <template id="movie-item-temp">
    <!-- <li><input type="checkbox"> {{title}} <button v-on:click="$emit('remove')">X</button></li> -->
    <!-- <li> -->
      <div class="block" id="movie-item">
        <span class="tag is-primary is-medium">
          {{title}}
          <!-- <button class="delete is-small" v-on:click="$emit('remove')"></button> -->
          <button class="delete is-small" @click="showDeleteMovie = true"></button>
          <delete-movie v-if="showDeleteMovie" v-on:remove="$emit('remove')" @close="showDeleteMovie = false"></delete-movie>
        </span>
      </div>
    <!-- </li> -->
  </template>

  <template id="delete-movie-temp">
    <div class="modal is-active">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="box">
          <h3 class="title">Are you sure you want to delete this movie?</h3>
          <button class="button is-primary" @click="$emit('remove')">Yes</button>
          <button class="button is-danger" @click="$emit('close')">No</button>
        </div>
      </div>
      <button class="modal-close" @click="$emit('close')"></button>
    </div>
  </template>

  <template id="delete-actor-temp">
    <div class="modal is-active">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="box">
          <h3 class="title">Are you sure you want to delete this actor?</h3>
          <button class="button is-primary" v-on:click="deleteActor">Yes</button>
          <button class="button is-danger" @click="$emit('close')">No</button>
        </div>
      </div>
      <button class="modal-close" @click="$emit('close')"></button>
    </div>
  </template>

  <!-- TEMPLATES: FORMS -->

  <template id="add-form-temp">
    <div class="box">
      <div class="columns is-mobile">
        <div class="column is-two-thirds is-offset-2">
          <h1 class="title is-2 has-text-centered">Add Actor</h1>
          <form class="control" id="add-actor-form" v-on:submit.prevent="addActor">
            <div class="field">
              <label class="label" for="af-name">Name</label>
              <p class="control"> 
                <input class="input" type="text" v-model="newActorName" name="af-name" id="af-name">
              </p>
              <label class="label" for="af-age">Age</label>
              <p class="control">
                <input class="input" type="text" v-model="newActorAge" name="af-age" id="af-age">
              </p>
              <label class="label" for="Af-bio">Biography</label>
              <p class="control">   
                <textarea class="textarea" v-model="newActorBio" name="af-bio" id="af-bio"></textarea>
              </p>
              <p class="control">
                <span class="label">Link to Image of Actor/Actress</span>
                <input type="file" name="af-image" id="af-image">
              </p>
              <p class="control">
                <span class="label">Gender</span>
                <label class="radio"><input type="radio" v-model="newActorGender" name="af-gender" value="Male"> Male</label>
                <label class="radio"><input type="radio" v-model="newActorGender" name="af-gender" value="Female"> Female</label>
              </p>
              <p class="control">
                <span class="label">Country of Origin</span>
                <label class="radio"><input type="radio" v-model="newActorCountry" name="af-country" value="US">United States</label>
                <label class="radio"><input type="radio" v-model="newActorCountry" name="af-country" value="UK">United Kingdom</label>
              </p>
              <input class="button is-primary" type="submit" value="Submit">
            </div>
          </form>
        </div>
      </div>
    </div>
  </template>

  <template id="edit-form-temp">
    <div class="box">
      <div class="columns is-mobile">
        <div class="column is-two-thirds is-offset-2">
          <h1 class="title is-2 has-text-centered">Edit Information</h1>
          <form class="control" id="edit-actor-form" v-on:submit.prevent="editActor">
            <div class="field">
              <label class="label" for="ef-name">Name</label>
              <p class="control"> 
                <input class="input" type="text" v-model="editName" name="ef-name" id="ef-name">
              </p>
              <label class="label" for="ef-age">Age</label>
              <p class="control">
                <input class="input" type="text" v-model="editAge" name="ef-age" id="ef-age">
              </p>
              <label class="label" for="ef-bio">Biography</label>
              <p class="control">         
                <textarea class="textarea" form="edit-actor-form" v-model="editBio" name="ef-bio" id="ef-bio"></textarea>
              </p>
              <p class="control">
                <span class="label">Link to Image of Actor/Actress</span>
                <input type="file" name="ef-image" id="ef-image">
              </p>
              <p class="control">
                <span class="label">Gender</span>
                <label class="radio"><input type="radio" v-model="editGender" name="ef-gender" value="Male"> Male</label>
                <label class="radio"><input type="radio" v-model="editGender" name="ef-gender" value="Female"> Female</label>
              </p>
              <p class="control">
                <span class="label">Country of Origin</span>
                <label class="radio"><input type="radio" v-model="editCountry" name="ef-country" value="US"> United States</label>
                <label class="radio"><input type="radio" v-model="editCountry" name="ef-country" value="UK"> United Kingdom</label>
              </p>
            </div>
            <div class="field is-grouped">
              <p class="control">
                <br><input class="button is-primary" type="submit" value="Submit">          
                <button class="button is-light" v-on:click="cancel">Cancel</button>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </template>

  <script src="js/config.js"></script>
  <script src="js/app.js"></script>
</body>
</html>