/* VUE JS CLASS CONTROLS */
.hidden {
	display: none;
}
.invis {
	opacity: 0;
}
.visible {
	opacity: 1;
}

/* GENERAL CSS */
img {
  width: 100%;
}
.notification {
	text-align: center;
}
.image {
	overflow: hidden;
}

/* NAVBAR */
#nav-toggle-state {
  display: none;
}
#nav-toggle-state:checked ~ .nav-menu {
  display: block;
}
#acc-info {
  cursor: default;
}
#acc-info:hover {
  color: #7a7a7a;
}

/* ACTOR LIST CARDS */
#actor-list {
	display: flex;
	flex-wrap: wrap;
}
#actor-list .card {
  text-align: center;
  margin-left: 10px;
  margin-bottom: 10px;
  max-width: 128px;
}
#actor-list .card-content {
  padding: 5px;
  margin-top: 5px;
}
#actor-list img {
  cursor: pointer;
}
#actor-list a {
  color: #008571;
}

/* ACTOR INFO */
#movie-item {
  margin-bottom: 5px; 
  display: inline-block; 
  padding-right: 5px;
}
#img-info button {
  width: 100%;
  margin-bottom: 5px;
}